    <a class='custom-link' href="{{ url_for('main.show_post', id=post.id) }}">
    <table class="table table-hover">
        <tr>
            <td>
                {{ post.liked_by.count() }}
            </td>
            <td width="50px">
                {% include "_vote.html" %}
            </td>
            <td width="50px">
                <a href="{{ url_for('main.show_user', username=post.author.username) }}">
                    <img alt src="{{ post.author.avatar(50) }}" />
                </a>
            </td>
            <td width="100%">
                <a href="{{ url_for('main.show_user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                {% if include_chat %}
                    in <a href="{{ url_for('main.show_chat', name=post.chat.name) }}">chat/{{ post.chat.name }}</a>
                {% endif %}
                posted {{ moment(post.created_at).fromNow() }}:
                <br>
                <h4>{{ post.title }}</h4>
                {% if post.attachment %}
                    <img class="attachment-small" alt="{{ post.attachment.filename }}" src="{{ post.attachment.url }}">
                    <br><br>
                {% endif %}
                <p>{{ post.body|truncate(150) }}</p>
            </td>
        </tr>
    </table>
    </a>
