    <a class='custom-link' href="{{ url_for('main.post', id=post.id) }}">
    <table class="table table-hover">
        <tr>
            <td width="50px">
                {% if not current_user.has_liked(post) %}
                <a class="like-button" href="{{ url_for('main.like', post_id=post.id) }}">Like</a>
                {% else %}
                <a class="unlike-button" href="{{ url_for('main.unlike', post_id=post.id) }}">Liked</a>
                {% endif %}
            </td>
            <td width="50px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img alt src="{{ post.author.avatar(50) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                {% if include_chat %}
                    in <a href="{{ url_for('main.chat', name=post.chat.name) }}">chat/{{ post.chat.name }}</a>
                {% endif %}
                posted {{ moment(post.created_at).fromNow() }}:
                <br>
                {% if post.attachment %}
                    <h4>{{ post.title }}</h4>
                    <img class="attachment-small" alt="{{ post.attachment.filename }}" src="{{ post.attachment.url }}">
                {% else %}
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.body }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
    </a>
