{% if current_user.is_anonymous %}
{% else %}
    {% set vote = current_user.already_voted(post) %}
    <a class="vote-button upvote {% if vote and vote.liked %}selected{% endif %}" href="{{ url_for('main.upvote', post_id=post.id) }}">
        <i class="glyphicon glyphicon-arrow-up"></i>
    </a>
    <a class="vote-button downvote {% if vote and not vote.liked %}selected{% endif %}" href="{{ url_for('main.downvote', post_id=post.id) }}">
        <i class="glyphicon glyphicon-arrow-down"></i>
    </a>
{% endif %}