{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>Hi, {{ current_user.username }}!</h3>
    <h1>Top Chats</h1>
    <a href="{{ url_for('main.create_chat') }}">Create a new chat</a>
    <br><br>
    {{ wtf.quick_form(form) }}
    {% for chat in chats %}
        {% include '_chat.html' %}
    {% else %}
        <p>No results.</p>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer chats
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older chats <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
