{% extends "base.html" %}

{% block app_content %}
    <div class="homepage">
        <div class="logo">
            <img src="{{ url_for('static', filename='openchat.png') }}">
        </div>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
        {% else %}
            <p><a href="{{ url_for('main.feed') }}">Your Feed</a></p>
            <p><a href="{{ url_for('main.popular') }}">Popular Posts</a></p>
            <p><a href="{{ url_for('main.explore_chats') }}">Top Chats</a></p>
            <p><a href="{{ url_for('main.leaderboard') }}">Leaderboard</a></p>
        {% endif %}
    </div>
{% endblock %}
